<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>PV-Anlagen Hibernia</title>
</head>

<header>
    <p>Hiberniaschule | Max. Leistung 62,81 kWp</p>
</header>

<body>

    <div class="grid-container">
        
        <div id="box0">
          <h3>Systemeffizienz</h3>
          <table border="1">
              <tr>
                  <td><p>Aktuelle Leistung in W</p><output name="energy_now"></output></td>
                  <td><p>Energie Heute in Wh</p>{{all_data.energy_day_until_now}}</td>
                  <td><p>Energie Monat in W</p><output name="energy_month"></output></td>
                  <td><p>Gesamtenergie in Wh</p>{{all_data.energy}}</td>
              </tr>
          </table>
            <script>
                // Daten abrufen oder berechnen (Beispielwerte)
                var energyNow = {{all_data.power}};
                // var energyToday = ;
                //var energyMonth = {{DatenDerMonatlichenProduktion}};
                var totalEnergy = {{all_data.energy}};

                //var energyNow = 1023;
                //var energyToday = 142761;
                //var energyMonth = 15000;
                //var totalEnergy = 100000;
              
                // Elemente aus der Tabelle abrufen
                var energyNowOutput = document.querySelector('output[name="energy_now"]');
                var energyTodayOutput = document.querySelector('output[name="energy_today"]');
                var energyMonthOutput = document.querySelector('output[name="energy_month"]');
                var totalEnergyOutput = document.querySelector('output[name="total_energy"]');
              
                // Daten in die Tabelle einfügen
                energyNowOutput.textContent = energyNow;
                energyTodayOutput.textContent = energyToday;
                energyMonthOutput.textContent = energyMonth;
                totalEnergyOutput.textContent = totalEnergy;
              </script>
              
        </div>

        <div id="box1_1">
            <div><canvas id="production_2day"></canvas></div>
        </div>

        <div id="box1_2">
            <div><canvas id="production-over7days"></canvas></div>
        </div>

        <div id="box2">
          <h5>Vorteile für die Umwelt</h5>
          <table border="1">
              <tr>
                  <td><img src="{% static 'img/eco-energy.png' %}"><p>Eingesparte CO2-Emissionen</p><output name="CO2emission"></output></td>
              </tr>
              <tr>
                <td><img src="{% static 'img/plant-a-tree.png' %}"><p>Entspricht gepflanzten Bäumen</p><output name="plantedTree"></output></td>
              </tr>
          </table>
        </div>

    </div>

</body>

<footer>

</footer>

<script>
    // JavaScript-Code, um die Container abwechselnd sichtbar zu machen
    setInterval(function() {
      var box1_1 = document.querySelector('#box1_1');
      var box1_2 = document.querySelector('#box1_2');
  
      if (box1_1.style.display === 'none') {
        box1_1.style.display = 'block';
        box1_2.style.display = 'none';
      } else {
        box1_1.style.display = 'none';
        box1_2.style.display = 'block';
      }
    }, 15000); // Wechsel alle 15 Sekunde (15000 Millisekunden)
  </script>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('production_2day');
    var Watt = {{DieDjangoVariablenFürW}}
    var Uhrzeit = {{DieUhrzeitErrechnetAusDemDataset}}
    //Data = Watt um YY:YY, Labels = Uhrzeit errechnet aus allen 15 min.
    //var Watt = [0,25127.0,9692.334,16843.0,18584.334,21833.0,5256.667,19747.332,18170.668,8089.667,10013.666,6856,4194.6665,4689.0,5635.3335,7185.667,10126.0,9637.0,5220.3335,2360.3335,2008.0,921.3334,438.6667,600.0,603.6667,326.3333,158.0,144.0,73.333336,0.0,0.0,0,0,];
    //var Uhrzeit = [0600, 0615, 0630, 0645, 0700, 0715, 0730, 0745, 0800, 0815, 0830, 0845, 0900, 0915, 0930, 0945, 1000];
    new Chart(ctx, {
      type: 'line',
      data: {
        labels: Uhrzeit,
        datasets: [{
            label: 'Produktion der Anlagen seit 06:00 in W',
            data: Watt,
            fill: false,
            borderColor: 'rgb(75, 192, 192)',
            tension: 0.1
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>

<script>
    const cty = document.getElementById('production-over7days');
    var Wh = {{DieDjangoVariablenFürWh}}
    var Datum = {{DasDatumDesJeweiligenTages}}
    //Data = Wattstunden vom YY.YY, Labels = Datum der produzierten Wh
    //var Wh = [143461.0, 142756.0, 2761.0, 134561.0, 93761.0, 1461.0, 761.0];
    //var Datum = [09.05, 10.05, 11.05, 12.05, 13.05, 14.05, 15.05];
    new Chart(cty, {
      type: 'bar',
      data: {
        labels: Datum,
        datasets: [{
            label: 'Produktion der letzten 7 Tage in Wh',
            data: Wh,
            borderWidth: 1,
        }]
      },
      options: {
        scales: {
          y: {
            beginAtZero: true
          }
        }
      }
    });
  </script>