


body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    background-color: var(--topcolor);
}

header p {
    margin-left: 1rem;
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--toptext);
}
header img {
    position: absolute;
    top: 20px;
    right: 20px;
}

.grid-container {
    margin-left: 2rem;
    margin-right: 2rem;
    display: grid;
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1fr, 1fr, 1fr, 1fr;
    grid-gap: 1em;
}

#box0 {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 1em;
}

#box0 h3 {
    font-weight: bold;
    font-size: 25px;
    color: var(--text);
    text-align: center;
}

#box0 table tbody tr td p {
    font-size: 1rem;
}

#box0 table tbody tr td output {
    font-size: 1.2rem;
}

#box0 p {
    font-weight: bold;
}

table,
tr,
td {
    border: bold solid black;
    border-collapse: collapse;
    border-radius: 6px;
    -moz-border-radius: 6px;
    text-align: center;
    padding: 0.5em;
}

#box1_1 {
    padding-top: 15rem;
    width: 70%;
    grid-column: 1/2;
    grid-row: 1/3;
}

#box1_2 {
    padding-top: 15rem;
    width: 70%;
    grid-column: 1/2;
    grid-row: 1/3;
}

#box2 {
    grid-column: 3/4;
    grid-row: 1;
}


.table {
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    flex-basis: 25%;
}

.image img {
    max-width: 100%;
    display: flex;

}

#box2 h3 {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: var(--text);
}

.text {
    padding-left: 20px;
}

.text p {
    font-size: 1.1rem;
}

.text output {
    font-size: 2rem;
}

#box2 #source {
    text-align: right;
    font-size: 0.8rem;
}